
.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f0f8ff; 
}

.leftSide, .rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.leftSide {
  background-color: #ffffff;

}

.rightSide {
  background-color: rgb(57, 5, 57);
  color: #333;
}
.rightSide> h1{
  color: white;
  font-size: 55px;
}

.leftSide>h1{
  bottom: 50px;
  top: 20px;
  margin-right: 10%;
  font-size: 47px;
}

.leftSide>p{
  color: rgb(114, 111, 111);
  margin-right: 30%;

  bottom: 10px;
}


.leftContent{
  margin-bottom: 80px; 
  width: 100%;
  margin-left: 12%;
}
.leftContent>h4 a{
  font-size: 20px;  
  display: grid;
  row-gap: 10px;
  text-decoration: none;
  color:black ;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif ;
  list-style: none;
}
.leftContent>h1{
  font-size: 55px;
  padding-bottom: 5%;
}
.leftContent>h2{
  font-size: 29px;
  /* margin-bottom:5%;   */
  font-weight: 400;
}
.leftContent>p{
  row-gap: 10px;
  width: 53%;
  color: rgb(150, 146, 146);
  font-size: 25px;
  font-weight: 200;
}
.leftContent>h5 a{
  text-decoration: none ;
  font-size: 19px;
  color: black;
  margin-top: 18px;
 
}

.accountType {
  width: 60%;
  /* max-width: 1000px; */
  margin-left:40px auto;
  margin-top:50px ;  
}

.accountType > form > div {
  display: grid;
  align-items: center;
  padding: 1px 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-bottom: 13px;
  background-color: white;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1); 
}

.laundererAccountType a{
  text-decoration: none;
  color: black;
  font-size: 21px;
}

.laundererAccountType> p{
  font-size: 20px;
  margin-right: 20px;
  color: white;
  display: flex;
}
.laundererAccountType>label{
    font-size: 20px;
}

.riderAccountType  a{
  text-decoration: none; 
  list-style: none;
  color: black;
  font-size: 21px;
 }

 .customerAccountType a{
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 21px;
 }
input[type="radio"] {
  margin-left: 10px; 
  transform: scale(0.0); 
}

label {
  font-size: 18px;
  font-weight: 500;
  /* color: #333; */
}
.accountType > form > div:hover {
 
  cursor: pointer;
  color: white;
}

